.productList {
  display: flex;
  padding: 1.5rem;

  .filterWindow {
    flex-grow: 0.1;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    div:last-child {
      border-bottom: none;
    }
  }

}