.filterItemContainer {
  --bs-accordion-inner-border-radius: 0;

  .filterItem {
    border: none;

    .filterTitle {
      line-height: 1.5;

      button {
        font-size: large;
      }
    }
  }
}

.addFilterItemBorder {
  margin: 0 auto;
  width: 80%;
  padding-top: 1px;
  border-bottom: 1px solid #dee2e6;
}
