@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

.navbarBrand {
  color: #e6123d;
  font-family: 'Turret Road', cursive;
  font-size: xx-large;

  &:hover {
    color: #e6123d;
  }
}